{% extends "InterneHomeBundle::layout.html.twig" %}

{% if membre.id != null %}

    {% form_theme membreForm 'InterneFichierBundle:Form:form_viewer_template.html.twig' %}
    {% form_theme membreContactForm 'InterneFichierBundle:Form:form_viewer_template.html.twig' %}
    {% form_theme membreFamilleForm 'InterneFichierBundle:Form:form_viewer_template.html.twig' %}
    {% form_theme familleForm 'InterneFichierBundle:Form:form_viewer_template.html.twig' %}

{% else %}

    {% form_theme membreForm 'InterneFichierBundle:Form:form_template.html.twig' %}
    {% form_theme membreContactForm 'InterneFichierBundle:Form:form_template.html.twig' %}
    {% form_theme membreFamilleForm 'InterneFichierBundle:Form:form_template.html.twig' %}
    {% form_theme familleForm 'InterneFichierBundle:Form:form_template.html.twig' %}

{% endif %}

{% block title %}
    {%  if membre.id == null %}Nouveau membre{% else %}{{ membre.prenom|capitalize }} {{ membre.famille.nom|capitalize }}{% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('static/css/bootstrap-editable.css') }}" type="text/css">
{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-lg-11 col-lg-offset-1">
            <h3>{% if membre.id == null %}Ajouter un membre{% else %}{{ membre.prenom|capitalize }} {{ membre.famille.nom|capitalize }}{% endif %}</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">

                <div class="widget">

                    <div class="widget-title">
                        <span>Informations sur le membre</span>
                    </div>

                    <div class="widget-content">

                        <form class="form-horizontal ajaxedit" role="form" method="post" {{ form_enctype(membreForm) }}>
                            {{ form_widget(membreForm) }}
                        </form>

                    </div>
                </div>
        </div>


        <div class="col-lg-6">
                <div class="widget">

                    <div class="widget-title">
                        <span>Informations sur sa famille</span>
                    </div>

                    <div class="widget-content">
                        <form class="form-horizontal ajaxedit" role="form" method="post" {{ form_enctype(membreFamilleForm) }}>

                            {{ form_widget(membreFamilleForm) }}
                            {{ form_widget(familleForm) }}

                        </form>
                    </div>
                </div>
        </div>


    </div>

    <div class="row">


        {#        <div class="col-lg-5">
                    <form class="form-horizontal" role="form" method="post" {{ form_enctype(membreContactForm) }}>
                        <div class="widget">

                            <div class="widget-title">
                                <span>Informations de contact</span>
                            </div>

                            <div class="widget-content">
                                {{  form_widget(membreContactForm) }}
                            </div>
                        </div>
                    </form>
                </div>#}

    </div>

    {%  if membre.id is not null %}

    <div class="row">

        <div class="col-lg-12">

            <div class="widget">
                <div class="widget-title">
                    <span>Groupes par attributions actives</span>
                </div>

                <div class="widget-content">

                    {% for hierarchie in hierarchies %}

                        <div class="flex groupe-container">

                            {% for groupe in hierarchie %}

                                <a class="groupe" href="{{ path('InterneStructure_voir_groupe', {id: groupe.id}) }}">
                                    {{ groupe.nom }}
                                </a>

                                <span class="glyphicon glyphicon-chevron-right"></span>

                            {% endfor %}

                        </div>

                    {% endfor %}

                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-8">

            <div class="widget">
                <div class="widget-title">
                    <span>Attributions</span>

                    <div class="widget-toolbar">
                        <button data-toggle="modal" data-target="#attributions-form-modal">Ajouter une attribution
                        </button>

                    </div>
                </div>

                <div class="widget-content">

                    <table class="datatable">

                        <thead>
                        <tr>
                            <th>Fonction</th>
                            <th>Groupe</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Options</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for attribution in membre.attributions %}

                            <tr>
                                <td>{{ attribution.fonction.nom }} ({{ attribution.fonction.abreviation | upper }})</td>
                                <td>
                                    <a href="{{ path('InterneStructure_voir_groupe', {id: attribution.groupe.id}) }}">{{ attribution.groupe.nom }}</a>
                                </td>
                                <td>{{ attribution.dateDebut | date("d.m.Y") }}</td>
                                <td>{{ attribution.dateFin | datum }}</td>
                                <td>
                                    <a href="{{ path('InterneStructure_remove_attribution', {attributionId: attribution.id}) }}"><span
                                                class="glyphicon glyphicon-remove" title="supprimer"
                                                onclick="return confirm('Etes-vous sur ?');"></span></a></td>
                            </tr>

                        {% endfor %}

                        </tbody>

                    </table>

                </div>
            </div>

        </div>

        <div class="col-lg-4">

            <div class="widget">
                <div class="widget-title">
                    <span>Distinctions</span>

                    <div class="widget-toolbar">
                        <button onclick="addObtentionDistinction()">Ajouter une distinction</button>
                    </div>
                </div>

                <div class="widget-content">

                    <table class="table datatable">

                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date d'obtention</th>
                            <th>Options</th>
                        </tr>
                        </thead>

                        <tbody>

                        {#{% for distinction in membre.distinctions %}#}

                        {#<tr>#}
                        {#<td>{{ distinction.distinction.nom }}</td>#}
                        {#<td>{{ distinction.obtention | date("d.m.Y") }}</td>#}
                        {#<td></td>#}
                        {#</tr>#}


                        {#{% endfor %}#}

                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">

            <div class="widget">
                <div class="widget-title">
                    <span>Groupes par attributions actives</span>
                </div>

                <div class="widget-content">

                    {% for hierarchie in hierarchies %}

                        <div class="flex groupe-container">

                            {% for groupe in hierarchie %}

                                <a class="groupe" href="{{ path('InterneStructure_voir_groupe', {id: groupe.id}) }}">
                                    {{ groupe.nom }}
                                </a>

                                <span class="glyphicon glyphicon-chevron-right"></span>

                            {% endfor %}

                        </div>

                    {% endfor %}

                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-8">

            <div class="widget">
                <div class="widget-title">
                    <span>Attributions</span>

                    <div class="widget-toolbar">
                        <button data-toggle="modal" data-target="#modal-add-attributions-perso">Ajouter une
                            attribution
                        </button>
                    </div>
                </div>

                <div class="widget-content">

                    <table class="datatable">

                        <thead>
                        <tr>
                            <th>Fonction</th>
                            <th>Groupe</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th style="width:130px">Options</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for attribution in membre.attributions %}

                            <tr>
                                <td>
                                    <p class="final-val">{{ attribution.fonction.nom }}</p>

                                    <p class="modifikator-val">
                                        <select>
                                            <option value="{{ attribution.fonction.id }}">{{ attribution.fonction.nom }}</option>
                                            <option disabled>──────────</option>

                                            {% for fonction in fonctions %}
                                                <option value="{{ fonction.id }}">{{ fonction.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                </td>
                                <td>
                                    <a class="final-val"
                                       href="{{ path('InterneStructure_voir_groupe', {id: attribution.groupe.id}) }}">{{ attribution.groupe.nom }}</a>

                                    <p class="modifikator-val">
                                        <select>
                                            <option value="{{ attribution.groupe.id }}">{{ attribution.groupe.nom }}</option>
                                            <option disabled>──────────</option>

                                            {% for groupe in groupes %}
                                                <option value="{{ groupe.id }}">{{ groupe.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                </td>
                                <td>
                                    <p class="final-val">{{ attribution.dateDebut | date("d.m.Y") }}</p>

                                    <p class="modifikator-val"><input type="text" class="datepicker"/></p>
                                </td>
                                <td>
                                    <p class="final-val">{{ attribution.dateFin | datum }}</p>

                                    <p class="modifikator-val"><input type="text" class="datepicker"/></p>
                                </td>
                                <td>
                                    <a onclick="return confirm('Etes-vous sur de vouloir supprimer cette attribution ?  {{ attribution.fonction.nom }} - {{ attribution.groupe.nom }}');"
                                       class="btn btn-xs btn-default"
                                       href="{{ path('InterneStructure_remove_attribution', {attributionId: attribution.id}) }}"><span
                                                class="glyphicon glyphicon-lg glyphicon-remove"
                                                title="supprimer"></span></a>
                                    <a class="btn btn-xs btn-default" name="attrModifButton-{{ attribution.id }}"
                                       onclick="modifyAttribution(this, {{ attribution.id }});"><span
                                                class="glyphicon glyphicon-edit"></span></a>
                                </td>
                            </tr>

                        {% endfor %}


                        </tbody>

                    </table>

                </div>
            </div>

        </div>

        {#		<div class="col-lg-4">

                    <div class="widget">
                        <div class="widget-title">
                            <span>Distinctions</span>

                            <div class="widget-toolbar">
                                <button onclick="addObtentionDistinction()">Ajouter une distinction</button>
                            </div>
                        </div>

                        <div class="widget-content">

                            <table class="table datatable">

                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Date d'obtention</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for distinction in membre.distinctions %}

                                    <tr>
                                        <td>{{ distinction.distinction.nom }}</td>
                                        <td>{{ distinction.obtention | date("d.m.Y") }}</td>
                                        <td></td>
                                    </tr>


                                    {% endfor %}

                                </tbody>

                            </table>

                        </div>
                    </div>

                </div>#}

    </div>

    <div class="modal fade" id="modal-add-attributions-perso" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajouter des attributions
                        à {{ membre.prenom|capitalize }} {{ membre.famille.nom|capitalize }}</h4>
                </div>

                <div class="modal-body">

                    <!-- on génère la liste des groupes disponibles en hidden pour pouvoir la copier au fur et à mesure -->
                    <select style="display:none" class="attributions-membre-groupes-prototype">
                        {% for groupe in groupes %}
                            <option value="{{ groupe.id }}">{{ groupe.nom }}</option>
                        {% endfor %}
                    </select>
                    <!-- / -->

                    <form method="post" action="#">

                        <fieldset>

                            <div class="row">
                                <div class="col-sm-3"><label>Fonction (s)</label></div>
                                <div class="col-sm-9">
                                    <select id="attributions-membre-fonctions-dynamics" multiple class="chosen">

                                        {% for fonction in fonctions %}

                                            <option value="{{ fonction.id }}__{{ fonction.nom }}">{{ fonction.nom }}</option>

                                        {% endfor %}

                                    </select>

                                </div>
                            </div>

                        </fieldset>

                        <!-- partie gérée dynamiquement côté javascript -->
                        <div id="attributions-membre-fieldset-dynamics">

                        </div>

                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" onclick="addAttributionsToMembre();" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    <!-- on stocke l'id du membre pour pouvoir la récupérer -->
    <input type="hidden" value="{{ membre.id }}" id="membre-id"/>

{% endblock %}

{% block javascript %}

    <script src="{{ asset('static/js/modifikator.js') }}"></script>
    <script src="{{  asset('static/js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ asset('static/js/membres.js') }}"></script>

{% endblock %}