{% extends "InterneHomeBundle::layout.html.twig" %}

{% block title %}Famille {{ famille.nom|capitalize }}{% endblock %}


{% block body %}

	<div class="row">
		
		<div class="col-lg-4">
			
			<div class="widget">
				<div class="widget-title">
					<span>Informations</span>
				</div>
				
				<div class="widget-content">
					
					<ul class="data-liste">
						<li><strong>Nom</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.nom">{{ famille.nom|capitalize }}</span></li>
						<li><strong>E-mail familial</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.contact.email">{{ famille.contact.email }}</span></li>
						<li><strong>Téléphone familial</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.contact.telephone">{{ famille.contact.telephone }}</span></li>
						<li class="separator"></li>
						<li><strong>Adresse familiale</strong></li>
						<li><strong>Rue</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.adresse.rue">{{ famille.adresse.rue }}</span></li>
						<li><strong>NPA</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.adresse.npa">{{ famille.adresse.npa }}</span></li>
						<li><strong>Localité</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.adresse.localite">{{ famille.adresse.localite }}</span></li>
						<li><strong>Facturable</strong><input type="checkbox" class="toggle-editable" name="InterneFichierBundle.famille.{{ famille.id }}.adresse.facturable" {% if famille.adresse.facturable == 1 %}checked{% else %}{% endif %}></li>
						<li><strong>Remarque</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.adresse.remarques">{{ famille.adresse.remarques }}</span></li>
					</ul>
					
				</div>
			</div>
			
		</div>
		
		<div class="col-lg-8">
			
			<div class="widget">
				<div class="widget-title">
					<span>Informations sur les parents</span>
				</div>
				
				<div class="widget-content">
					
					<div class="row">
						<div class="col-md-6">
						
							<ul class="data-liste">
								<li><strong>Père</strong></li>
								<li><strong>Prénom</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.pere.prenom">{{ famille.pere.prenom|capitalize }}</span></li>
								<li><strong>Profession</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.pere.profession">{{ famille.pere.profession }}</span></li>
								<li><strong>Téléphone</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.pere.contact.telephone">{{ famille.pere.contact.telephone }}</span></li>
								<li><strong>E-mail</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.pere.contact.email">{{ famille.pere.contact.email }}</span></li>
								<li class="separator"></li>
								<li><strong>Adresse du père</strong></li>
								<li><strong>Rue</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.pere.adresse.rue">{{ famille.pere.adresse.rue }}</span></li>
								<li><strong>NPA</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.pere.adresse.npa">{{ famille.pere.adresse.npa }}</span></li>
								<li><strong>Localité</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.pere.adresse.localite">{{ famille.pere.adresse.localite }}</span></li>
								<li><strong>Facturable</strong><input type="checkbox" class="toggle-editable" name="InterneFichierBundle.famille.{{ famille.id }}.pere.adresse.facturable" {% if famille.pere.adresse.facturable == 1 %}checked{% else %}{% endif %}></li>
								<li><strong>Remarques</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.pere.adresse.remarques">{{ famille.pere.adresse.remarques }}</span></li>
							</ul>
						</div>
						
						<div class="col-md-6">
						
							<ul class="data-liste">
								<li><strong>Mère</strong></li>
								<li><strong>Prénom</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.mere.prenom">{{ famille.mere.prenom|capitalize }}</span></li>
								<li><strong>Profession</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.mere.profession">{{ famille.mere.profession }}</span></li>
								<li><strong>Téléphone</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.mere.contact.telephone">{{ famille.mere.contact.telephone }}</span></li>
								<li><strong>E-mail</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.mere.contact.email">{{ famille.mere.contact.email }}</span></li>
								<li class="separator"></li>
								<li><strong>Adresse de la mère</strong></li>
								<li><strong>Rue</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.mere.adresse.rue">{{ famille.mere.adresse.rue }}</span></li>
								<li><strong>NPA</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.mere.adresse.npa">{{ famille.mere.adresse.npa }}</span></li>
								<li><strong>Localité</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.mere.adresse.localite">{{ famille.mere.adresse.localite }}</span></li>
								<li><strong>Facturable</strong><input type="checkbox" class="toggle-editable" name="InterneFichierBundle.famille.{{ famille.id }}.mere.adresse.facturable" {% if famille.mere.adresse.facturable == 1 %}checked{% else %}{% endif %}></li>
								<li><strong>Remarques</strong><span class="editable" name="InterneFichierBundle.famille.{{ famille.id }}.mere.adresse.remarques">{{ famille.mere.adresse.remarques }}</span></li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		
	</div>
	
	<div class="row">
		
		<div class="col-lg-12">
			<div class="widget">
				<div class="widget-title">
					<span>Membres de la famille</span>
					<div class="widget-toolbar">
						<button class="datatables-options">Options</button>
					</div>
				</div>
				
				<div class="widget-content">
					
					<table class="datatable">
			
						<thead>
							<tr>
								<th>Prénom</th>
								<th>Fonctions actuelles</th>
								<th>Groupes d'attributions actives</th>
								<th>Numéro BS</th>
								<th>Sexe</th>
								<th>Date de naissance</th>
							</tr>
						</thead>
						
						<tbody>
			
							{% for membre in famille.membres %}
							<tr>
								<td><a href="{{ path('InterneFichier_voir_membre', {'id' : membre.id}) }}">{{ membre.prenom }}</a></td>
								<td>{% for attr in membre.attributions %} {{ attr.fonction.nom }} - {% endfor %}</td>
								<td>{% for attr in membre.attributions %} <a href="{{ path('InterneStructure_voir_groupe', {id: attr.groupe.id}) }}">{{ attr.groupe.nom }}</a> - {% endfor %}</td>
								<td>{{ membre.numeroBs }}</td>
								<td>{{ membre.sexe }}</td>
								<td>{{ membre.naissance|date("d.m.Y") }}</td>
							</tr>
							
							{% endfor %}
							
						</tbody>
					
					</table>
					
				</div>
			</div>
		</div>
		
	</div>


			

{% endblock %}

{% block javascript %}

	<script type="text/javascript" src="{{ asset('static/js/modifikator.js') }}"></script>

{% endblock %}
