{% extends "InterneHomeBundle::layout.html.twig" %}

{% block title %}Facture{% endblock %}


{% block body %}

<a href="{{path('interne_facture_show_all')}}">Show All facture</a><br>
<a href="{{path('interne_facture_create')}}">create facture </a><br>
<a href="{{path('interne_facture_search')}}">search facture </a><br>
<a href="{{path('interne_facture_model')}}">model facture </a><br>
<a href="{{path('interne_facture_bvr_upload')}}">upload BVR </a><br>



    a faire

    -> chargement des fichier v11
    -> statistique

{% endblock %}