			
			
			<div id="navBar">
				
				<div class="user">
				
					<img src="{{ asset('static/images/logo.png') }}" />
					
					<a href="{{ path('logout') }}">Déconnexion</a>
					<a onclick="modeVeille();">Veille</a>
					
				</div>
				
				<ul>
					<li><a href="{{ path('InterneHome_accueil')}}"><span class="glyphicon glyphicon-home"></span> accueil</a></li>
					<li><a href="{{ path('InterneHome_rechercher')}}"><span class="glyphicon glyphicon-search"></span> rechercher</a></li>
					<li><a href="{{ path('InterneStamm_dashboard')}}"><span class="glyphicon glyphicon-tasks"></span> administration</a></li>

                	
					<li><a><span class="glyphicon glyphicon-th-large"></span> Groupe {% if user.attributions|length > 1 %} (s) {% endif %}</a>
						
						<ul>
							{% for attribution in user.attributions %}
								
								<li><a href="{{ path('InterneStructure_voir_groupe', {'id' : attribution.groupe.id}) }}">{{ attribution.groupe.nom }}</a></li>
							
							{% endfor %}
							
							<li><a href="{{ path('InterneFichier_creer_membre') }}">Ajouter un membre</a></li>
						</ul>
						
					</li>
					
					<li><a><span class="glyphicon glyphicon-th"></span> Brigade</a>
					
						<ul>
							<li><a href="{{ path('InterneStructure_hierarchie') }}">hierarchie des groupes</a></li>
							<li><a href="{{ path('InterneStructure_attributions_fonctions') }}">attributions - fonctions</a></li>
							<li><a href="{{ path('InterneStructure_distinctions') }}">distinctions</a></li>
						</ul>
					</li>
					
					<li><a><span class="glyphicon glyphicon-folder-open"></span> Galerie</a>
					
						<ul>
							<li><a href="{{ path('InterneGlobal_galerie_overview') }}">Paramètres</a></li>
							
							{% for droit in galeries %}
								
								<li><a href="{{ path('InterneGlobal_galerie_groupe', {'id' : droit.id}) }}">Galerie - {{ droit.groupe.nom }}</a></li>
							
							{% endfor %}
						</ul>
					</li>
				</ul>
				
			</div> <!-- /#navBar -->