                            
                            
                            <div class="form-element">
								{{ form_label(obtentionDistinctionForm.distinction, "Distinction") }}
							    {{ form_errors(obtentionDistinctionForm.distinction) }}
							    {{ form_widget(obtentionDistinctionForm.distinction) }}
							</div>
							
							<div class="form-element">
								{{ form_label(obtentionDistinctionForm.obtention, "Date d'obtention") }}
							    {{ form_errors(obtentionDistinctionForm.obtention) }}
							    {{ form_widget(obtentionDistinctionForm.obtention) }}
							</div>
					
							{{ form_rest(obtentionDistinctionForm) }}