{% for result in results %}
    <tr>
        <td>{{ result.factureInFile.id }}</td>
        <td>{{ result.factureInFile.datePayement|date("d/m/Y") }}</td>
        <td>{{ result.factureInFile.montantRecu }}</td>


        {% if result.validationStatut == 'NotFound' %}
            <td colspan="3">Facture inexistante</td>
            <td>
                <span class="label label-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
            </td>
            <td>
                <button class="btn btn-info btn-xs">
                    <div data-state="not_found"
                         onclick="validation(this)">
                        Ignorer
                    </div>
                </button>
            </td>
        {% else %}
            <td>{{ result.factureFound.montantTotal }}</td>
            <td>{{ result.factureFound.titre }}</td>
            {% if result.factureFound.statut == 'ouverte' %}
                <td>
                <span class="label label-info">
                    Ouverte
                </span>
                </td>
            {% elseif result.factureFound.statut == 'payee' %}
                <td>
                <span class="label label-success">
                    Payée
                </span>
                </td>
            {% else %}
                <td>
                </td>
            {% endif %}

            {% if result.validationStatut == 'Found:Valid' %}
                <td>
                    <span class="label label-success">
                        <span class="glyphicon glyphicon-ok"></span>
                    </span>
                </td>
                <td>
                    <button class="btn btn-info  btn-xs">
                        <div data-idfacture="{{ result.factureFound.id }}"
                             data-montantrecu="{{ result.factureInFile.montantRecu }}"
                             data-datepayement="{{ result.factureInFile.datePayement|date("m/d/Y") }}"
                             data-state="found_valid"
                             onclick="validation(this)">
                            Valider
                        </div>
                    </button>
                </td>
            {% elseif result.validationStatut == 'Found:Upper' %}
                <td>
                    <span class="label label-info">
                        <span class="glyphicon glyphicon-plus"></span>
                    </span>
                </td>
                <td>
                    <button class="btn btn-info btn-xs">
                        <div data-idfacture="{{ result.factureFound.id }}"
                             data-montantrecu="{{ result.factureInFile.montantRecu }}"
                             data-datepayement="{{ result.factureInFile.datePayement|date("m/d/Y") }}"
                             data-state="found_upper"
                             onclick="validation(this)">
                            Valider
                        </div>
                    </button>
                </td>
            {% elseif result.validationStatut == 'Found:Lower' %}
                <td>
                    <span class="label label-danger">
                        <span class="glyphicon glyphicon-minus"></span>
                    </span>
                </td>
                <td>

                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Valider <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">
                                    <div data-idfacture="{{ result.factureFound.id }}"
                                         data-montantrecu="{{ result.factureInFile.montantRecu }}"
                                         data-datepayement="{{ result.factureInFile.datePayement|date("m/d/Y") }}"
                                         data-state="found_lower_valid"
                                         onclick="validation(this)">
                                        Valider
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">
                                    <div data-idfacture="{{ result.factureFound.id }}"
                                         data-montantrecu="{{ result.factureInFile.montantRecu }}"
                                         data-datepayement="{{ result.factureInFile.datePayement|date("m/d/Y") }}"
                                         data-state="found_lower_new_facture"
                                         onclick="validation(this)">
                                        Valider et crée <br>une facture de <br>complément
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            {% elseif result.validationStatut == 'Found:AlreadyPayed' %}
                <td>
                    <span class="label label-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </span>
                </td>
                <td>
                    <button class="btn btn-info btn-xs" >
                        <div data-state="found_already_payed"
                             onclick="validation(this)">
                            Ignorer
                        </div>
                    </button>
                </td>
            {% else %}
                <td></td>
                <td></td>
            {% endif %}


        {% endif %}





    </tr>
{% endfor %}

