<!DOCTYPE html>

<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Net BS - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ asset('static/css/aristo.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('static/css/bootstrap-edit.css') }}" type="text/css">

    {% block stylesheets %}

    {% endblock %}
   	
    <link rel="stylesheet/less" href="{{ asset('static/less/netbs.less') }}" type="text/css">
    <script src="{{ asset('static/js/less.js') }}" type="text/javascript"></script>

</head>

<body>
    
    <div class="container-fluid">
	
	<div id="ajax-panel">
	    <div id="ajax-d1"></div>
	    <div id="ajax-d2"></div>
	    <div id="ajax-d3"></div>
	    <div id="ajax-d4"></div>
	    <div id="ajax-d5"></div>
	</div>
    	
    	<div class="row">
    		
    		{{ render(controller('InterneHomeBundle:Layout:menu')) }}
			
			<div id="corpus">
			    
			    <div id="flash-container">
				
				{% for flash in app.session.flashBag.get('notice') %}
				    
				    <div class="row">
					<div class="alert alert-info alert-dismissible col-lg-6 col-lg-offset-3" role="alert">
					    <button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					    </button>
					    <strong>{{ flash }}</strong>
					</div>
				    </div>
				    
				{% endfor %}
				
				{% for flash in app.session.flashBag.get('error') %}
				    
				    <div class="row">
					<div class="alert alert-danger alert-dismissible col-lg-6 col-lg-offset-3" role="alert">
					    <button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					    </button>
					    <strong>{{ flash }}</strong>
					</div>
				    </div>
				    
				{% endfor %}
			    
			    </div>
				
				<div id="title-data">
					
					<div id="main-title">
						<p>netBS - Dashboard</p>
					</div>
					
					<div id="top-links">
						
						<button onclick="retrieveListing()">Listing</button>
					
					</div>
					
				</div> <!-- /#title-data -->
				
				<div id="position">
					
					<div>
						<span>netBS</span>
						<img src="{{ asset('static/images/layout/arrow-right.png') }}" />
						<span>{{ block('title') }}</span>
					</div>
					
					<div>

						<div class="btn-group">
						
							{% block layoutOptions %}
							
							{% endblock %}
							
						</div>
						
					</div>
					
				</div> <!-- /#position -->
				
				<div id="dynamic-content">
					
					{% block body %}
					
					{% endblock %}
					
				</div> <!-- /#dynamic-content -->
				
			</div>
    		
    	</div>
    	
    </div>
    
    <!-- Modales globales -->
    
    <div class="modal fade" id="listing-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
		
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
		    <h4 class="modal-title" id="myModalLabel">Liste dynamique<span id="listing-modal-title"></span></h4>
		</div>
		
		<div id="listing-modal-content" class="modal-body">
		    
		    <table id="listing-table">
			<thead>
			    <tr>
				<th class="col-cb"></th>
				<th>prénom</th>
				<th>nom</th>
				<th>numéro BS</th>
				<th>Fonction</th>
				<th>Unité</th>
			    </tr>
			</thead>
		    </table>
		    
		    <div id="listing-options">
			
			<button class="btn btn-danger" onclick="listingRemove();">Supprimer <span id="listing-remove-span">(0)</span></button>
			<button class="btn btn-info" onclick="exportListing('pdf');">Exporter en PDF</button>
			<button class="btn btn-info" onclick="exportListing('xls');">Exporter en Excel</button>
			
		    </div>
		    
		</div>
		
		<div class="modal-footer">
		    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
		</div>
		
	    </div>
	</div>
    </div>
    
    
    <!-- javascript n' shit -->
    
    <div class="debogger"></div>
    
    
    <!-- perso -->
    <script src="{{ asset('static/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('static/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('static/js/jquery-ui.js') }}" type="text/javascript"></script>
    <script src="{{ asset('static/js/expirationSession.js') }}" type="text/javascript"></script>
    <script src="{{ asset('static/js/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('static/js/chosen.js') }}" type="text/javascript"></script>
    <script src="{{ asset('static/js/fonctions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('static/js/listing.js') }}" type="text/javascript"></script>

    {% block javascript %}
    {% endblock %}
    
    <!-- FOSJSBundle -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    

</body>

</html>

