{% extends "InterneHomeBundle::layout.html.twig" %}

{% block title %}Liste de factures{% endblock %}

{% block body %}


<div class="row">

    <div class="col-lg-6">
        <div class="widget">

            <div class="widget-title">
                <span>Liste de factures</span>
                <div class="widget-toolbar">

                    <div class="btn-group open">
                        <button type="button" data-toggle="dropdown">
                            Action en masse
                            <span class="caret">
                            </span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li>
                                <a onclick="" href="">
                                    Ajouter un rappel
                                </a>
                            </li>
                            <li>
                                <a onclick="" href="">
                                    Imprimer
                                </a>
                            </li>
                            <li>
                                <a onclick="" href="">
                                    Definir comme "payée"
                                </a>
                            </li>
                            <li>
                                <a onclick="" href="">
                                    Supprimer
                                </a>
                            </li>
                        </ul>
                        </div>
                </div>

            </div>

            <div class="widget-content">
                <table class="datatable">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Num. Réf.</th>
                        <th>Titre</th>
                        <th>Remarque</th>
                        <th>Montant émis</th>
                        <th>Montant reçu</th>
                        <th>Statut</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for facture in factures %}

                        <tr>
                            <td>
                                <a href="{{path('interne_facture_update', {'id' : facture.id} ) }}">
                                    <span class="glyphicon glyphicon-pencil" infobulle="Editer"></span>
                                </a>
                            </td>
                            <td>
                                <a href="{{path('interne_facture_show', {'id' : facture.id} ) }}">
                                    <span class="glyphicon glyphicon-zoom-in" infobulle="Afficher"></span>
                                </a>
                            </td>
                            <td>
                                <a href="{{path('interne_facture_delete', {'id' : facture.id} ) }}">
                                    <span class="glyphicon glyphicon-trash" infobulle="Supprimer"></span>
                                </a>
                            </td>
                            <td>
                                <a href="">
                                    <span class="glyphicon glyphicon-print" infobulle="Imprimer"></span>
                                </a>
                            </td>
                            <td>{{ facture.id }}</td>
                            <td>{{ facture.titre }}</td>
                            <td>{{ facture.remarque }}</td>
                            <td>{{ facture.montantEmis }}</td>
                            <td>{{ facture.montantRecu }}</td>
                            <td>{{ facture.statut }}</td>
                        </tr>

                    {% endfor %}


                    </tbody>

                </table>



            </div>
        </div>
    </div>
</div>



    {% endblock %}

    {% block javascript %}

    <script type="text/javascript">


    </script>

{% endblock %}