{% extends "InterneHomeBundle::layout.html.twig" %}

{% block title %}Détail de la facture{% endblock %}

{% block body %}


<div class="row">

    <div class="col-lg-6">
            <div class="widget">

                <div class="widget-title">
                    <span>Détail de la facture</span>
                </div>

                <div class="widget-content">
                    <div class="widget-data">
                        Numéro de Référance (id): {{ facture.id }}<br>

                        Titre: {{ facture.titre }}<br>

                        Remarque: {{ facture.remarque }}<br>





                        <h3>

                        {% if facture.statut == 'ouverte' %}

                            <span class="label label-info">
                                Ouverte
                            </span>

                        {% elseif facture.statut == 'payee' %}

                            <span class="label label-success">
                                Payée
                            </span>

                        {% else %}

                        {% endif %}
                        </h3>





                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Résumé de la facture</th>
                                    <th>Dates</th>
                                    <th>CHF</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Montant émis</td>
                                    <td>{{ facture.dateCreation|date("m/d/Y") }} </td>
                                    <td>{{ facture.montantEmis|number_format(2, '.', ',') }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Rappels:</td>
                                    <td></td>

                                </tr>

                                {% for rappel in facture.rappels %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ rappel.date|date("m/d/Y") }} </td>
                                        <td>{{ rappel.frais|number_format(2, '.', ',') }} </td>
                                    </tr>

                                {% endfor %}
                                <tr>
                                    <td colspan="2">Montant Total</td>
                                    <td>{{ facture.montantTotal|number_format(2, '.', ',') }}</td>
                                </tr>
                                <tr>
                                    <td>Montant Reçu</td>
                                    <td>{{ facture.datePayement|date("m/d/Y") }} </td>
                                    <td>{{ facture.montantRecu|number_format(2, '.', ',') }}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
    </div>



    {% endblock %}

    {% block javascript %}

    <script type="text/javascript">


    </script>

{% endblock %}